<!--  
  sections/contactcenterv2.liquid
-->

<style>
  .contact-us__pretext {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: var(--color-blue);    
  }

  .contact-us__heading {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.02em;
    margin-bottom: 2.4rem;
    margin-top: 1.2rem;
  }

  .contact-us__subtext{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    color: #667085;
    margin-bottom: 9.6rem;
  }

  .contacts {
    margin-left: -2.4rem;
  }

  .contacts .grid__item {
    padding-left: 2.4rem;
    margin-bottom: 2.4rem;    
  }

  .contacts__block {
    background: #F5FAFF;    
    padding-left: 2.4rem;   
    padding-right: 2.4rem;
    padding-bottom: 4.8rem; 
    height: 100%;
  }

  .contacts__icon {
    padding-top: 2.4rem;
    padding-bottom: 6.4rem;
  }

  .contacts-text__1 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
  }

  .contacts-text__2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
    color: var(--color-blue);
  }

  .contacts-text__3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;    
    color: var(--color-blue);
  }

  .contact-us__bottom-text {
    text-align: center;
    margin-top: 4.6rem;
  }

  .contact-us__bottom-text a {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: var(--color-blue);    
  }

  @media screen and (max-width: 769px) {
    .contact__center {
      padding: 0 1.6rem;
    }

    .contact-us__pretext {
      font-size: 1.4rem;
      line-height: 2rem;
    }

    .contact-us__heading {
      font-size: 3.6rem;
      line-height: 4.4rem;
      margin-bottom: 1.6rem;
    }

    .contact-us__subtext {
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-bottom: 6.4rem;
    }    

    .contacts__block {
      padding-bottom: 2.4rem;
    }

    .contact__icon {
      padding-bottom: 4.8rem;
    }

    .contact-text__1 {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }

    .contact-text__2 {
      padding-top: 0.4rem;
      padding-bottom: 1.6rem;
    }

    .contact-us__bottom-text {
      margin-top: 4rem;
      margin-bottom: 5.5rem;
    }

    .contact-us__bottom-text a {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

</style>
<div class="page-width contact__center">
  <div class="contact__us">
    {% if section.settings.pretext != blank %}
      <div class="contact-us__pretext">{{ section.settings.pretext }}</div>
    {% endif %}
    {% if section.settings.heading != blank %}
      <h1 class="contact-us__heading">{{ section.settings.heading }}</h1>
    {% endif %}
    {% if section.settings.subtext != blank %}
      <div class="contact-us__subtext">{{ section.settings.subtext }}</div>
    {% endif %}
  </div>
  <div class="grid grid--1-col grid--2-col-tablet grid--4-col-desktop contacts">
    {% for block in section.blocks %}
      <div class="grid__item">
        <div class=" contacts__block">
          {% if block.settings.icon != blank %}
            <div class="contacts__icon">{{ block.settings.icon }}</div>
          {% endif %}
          {% if block.settings.text_1 != blank %}
            <h3 class="contacts-text__1">{{ block.settings.text_1 }}</h3>
          {% endif %}
          {% if block.settings.text_2 != blank %}
            <div class="contacts-text__2">{{ block.settings.text_2 }}</div>
          {% endif %}
          {% if block.settings.text_3 != blank %}
            <a class="contacts-text__3" target="_blank" href="{{ block.settings.link }}">{{ block.settings.text_3 }}</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="contact-us__bottom-text">
    {% if section.settings.bottom_text != blank%}
      <a target="_blank" href="{{ section.settings.bottom_text_link }}">{{ section.settings.bottom_text }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Contact Center",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "pretext",
      "label": "Pretext"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom text"
    },
    {
      "type": "url",
      "id": "bottom_text_link",
      "label": "Bottom text link"
    }
  ],
  "blocks": [
    {
      "type": "contacts",
      "name": "Contacts",
      "settings": [
        {
          "type": "liquid",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text 1"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text 2"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text 3"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Center",
      "blocks": [
        {
          "type": "contacts"
        },
        {
          "type": "contacts"
        },
        {
          "type": "contacts"
        },
        {
          "type": "contacts"
        }
      ]
    }
  ]
}
{% endschema %}