<style type="text/css">

  .template-404 .subtext{
    margin: 0;
    color: #0D6EFD;
    font-weight: 600;
  }

  .inner-wrapper-404 {
    max-width: 720px;
  }

  .template-404 .title {
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.2rem;
    color: #101828;
    margin-top: 1.2rem;
  }

  .template-404 .subtitle{
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
    color: #667085;    
  }

  .error__buttons{
    display: flex;
    grid-gap: 1.2rem;
    margin-top: 4.8rem;
  }

  .error__buttons .button--primary{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 1.6rem 2.8rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: 750px){
    .template-404 .title{
      font-size: 3.6rem;
      line-height: 4.4rem;
      letter-spacing: -0.02em;
      margin-bottom: 1.6rem;
    }

    .template-404 .subtitle{
      font-size: 1.8rem;
      line-height: 2.8rem;
    }

    .error__buttons{
      flex-direction: column-reverse;
      margin-top: 3.2rem;
    }

    .error__buttons .button--primary {
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding: 1.2rem 1.6rem;
    }

    .error__buttons .button--tertiary{
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding: 1.2rem 13.3rem;
      grid-gap: 0.8rem;
    }
  }
</style>

<div class="template-404 page-width page-margin left">
  <div class="inner-wrapper-404">
    <p class="subtext">
      {{ 'templates.404.subtext' | t }}
    </p>
    <h1 class="title">
      {{ 'templates.404.title' | t }}
    </h1>
    <p class="subtitle">
      {{ 'templates.404.subtitle' | t }}
    </p>
    <div class="error__buttons">
      <a href="{{ routes.all_products_collection_url }}" class="button button--primary">
        {{ 'general.continue_shopping' | t }}
      </a>
    </div>
  </div>  
</div>
